profiles {    
    standard {
        docker.enabled = true
        process {
            container = 'gianlucamajor/epizap:latest'
            executor = 'local'

            withLabel: few_cpu {
                cpus = 2
                memory = { 4.GB * task.attempt }
            }

            withLabel: med_cpu {
                cpus = 4
                memory = { 4.GB * task.attempt }
            }

            withLabel: many_cpu {
                cpus = 8
                memory = { 4.GB * task.attempt }
            }
        }
    }

    cluster {
        singularity.enabled = true

        process {
            executor = 'pbs'
            clusterOptions = {"-l nodes=1:ppn=${task.cpus},vmem=${task.memory.toGiga()}g -m n"}
            container = '/home/gianluca/singularity/epizap.sif'

            withLabel: few_cpu {
                cpus = 4
                memory = { 4.GB * task.attempt }
                time = '2h'
            }

            withLabel: med_cpu {
                cpus = 8
                memory = { 8.GB * task.attempt }
                time = '3h'
            }

            withLabel: many_cpu {
                cpus = 32
                memory = { 16.GB * task.attempt }
                time = '5h'
            }
        }
    }

    gcp {
        process {
            executor = 'google-batch'
            container = 'gianlucamajor/epizap:latest'

            withLabel: few_cpu {
                cpus = 4
                memory = { 4.GB * task.attempt }
                machineType = 'n1-*'
            }

            withLabel: med_cpu {
                cpus = 8
                memory = { 8.GB * task.attempt }
                machineType = 'n1-*'
            }
            withLabel: many_cpu {
                cpus = 16
                memory = { 16.GB * task.attempt }
                machineType = 'n1-*'
            }
        }
        google {
            project = 'epizap'
            location = 'us-central1'
        }
    }
}
