profiles {
    
    standard {
        docker.enabled = true
        
        process {
            container = 'gianlucamajor/epizap:latest'

            withLabel: few_cpu {
                cpus = 2
            }

            withLabel: med_cpu {
                cpus = 4
            }

            withLabel: many_cpu {
                cpus = 8
            }
        }
    }

    cluster {
        singularity.enabled = true

        process {
            executor = 'pbs'
            container = '/home/gianluca/singularity/epizap.sif'

            withLabel: few_cpu {
                cpus = 5
            }

            withLabel: med_cpu {
                cpus = 10
            }

            withLabel: many_cpu {
                cpus = 20
            }
        }
    }
}