profiles {    
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            container = 'gianlucamajor/epizap:v0.1.0-alpha'
            executor = 'local'

            withLabel: one_cpu {
                cpus = 1
                memory = { 2.GB * task.attempt }
            }

            withLabel: few_cpu {
                cpus = 2
                memory = { 4.GB * task.attempt }
            }

            withLabel: med_cpu_high_memory {
                cpus = 4
                memory = { 8.GB * task.attempt }
            }

            withLabel: med_cpu {
                cpus = 4
                memory = { 4.GB * task.attempt }
            }

            withLabel: many_cpu {
                cpus = 8
                memory = { 4.GB * task.attempt }
            }
        }
    }

    cluster {
        singularity.enabled = true

        process {
            executor = 'pbs'
            clusterOptions = {"-l nodes=1:ppn=${task.cpus},vmem=${task.memory.toGiga()}g -m n"}
            container = '/home/gianluca/singularity/epizap.sif'

            withLabel: one_cpu {
                cpus = {1 * task.attempt }
                memory = { 2.GB * task.attempt }
                time = '2h'
            }

            withLabel: few_cpu {
                cpus = {4 * task.attempt }
                memory = { 8.GB * task.attempt }
                time = '2h'
            }

            withLabel: med_cpu_high_memory {
                cpus = 16
                memory = { 64.GB * task.attempt }
                time = '4h'
            }

            withLabel: med_cpu {
                cpus = {8 * task.attempt }
                memory = { 16.GB * task.attempt }
                time = '4h'
            }

            withLabel: many_cpu {
                cpus = 32
                memory = { 80.GB * task.attempt }
                time = '12h'
            }
        }
    }

    gcp {
        process {
            executor = 'google-batch'
            container = 'gianlucamajor/epizap:v0.1.0-alpha'
            
            withLabel: one_cpu {
                cpus = 1
                memory = { 2.GB * task.attempt }
                machineType = 'e2-*'
            }

            withLabel: few_cpu {
                cpus = 2
                memory = { 2.GB * task.attempt }
                machineType = 'e2-*'
            }

            withLabel: med_cpu_high_memory {
                cpus = 4
                memory = { 32.GB * task.attempt }
                machineType = 'n1-*'
            }

            withLabel: med_cpu {
                cpus = 4
                memory = { 8.GB * task.attempt }
                machineType = 'e2-*'
            }
            withLabel: many_cpu {
                cpus = 16
                memory = { 16.GB * task.attempt }
                machineType = 'e2-*'
            }
        }
        google {
            project = 'epizap'
            location = 'us-central1'
        }
    }
}
